/* @font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk/WOFF/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk/WOFF/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk/WOFF/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk/WOFF/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 900;
} */

body {
  margin: 0;
  font-family: "Space Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.f-space_grotesk {
  font-family: "Space Grotesk";
}

.f-dm_mono {
  font-family: "DM Mono";
}

.f-poppins{
  font-family: "Poppins";
}

.lighter {
  font-weight: lighter;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
